
<h2>Account</h2>

<h3>Logged in as: {{username}}</h3>

<form method="POST" action="/logout">
    <input type="submit" value="Logout">
</form>

<h3>My Reviews:</h3>

<ul>
    {{#each reviews}}
        <li>
            <div class="review">
                <div class="reviewHeader">
                    <a href="/{{coaster.park.slug}}/{{coaster.slug}}">{{coaster.name}}</a> - <a href="/{{coaster.park.slug}}">{{coaster.park.name}}</a> &#9733;{{rating}} ({{postDate}} at {{postTime}})
                </div>
                {{body}}<br>
                <form method="POST" action="/{{slug}}/delete-review">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </li>
    {{else}}
        <li>No reviews to display</li>
    {{/each}}
</ul>
