
<h2>Coasters</h2>

<ul>
    {{#each coasters}}
        <li>
            <a href="/{{park.slug}}/{{slug}}">{{name}}</a> - <a href="/{{park.slug}}">{{park.name}}</a><br>
            Rating: &#9733;{{rating}} ({{numReviews}} reviews)<br>
            {{#if deletable}}
                <form method="POST" action="/{{slug}}/delete-coaster" class="deleteButton">
                    <input type="submit" value="Delete">
                </form>
            {{/if}}
        </li>
    {{else}}
        <li>No coasters to display.</li>
    {{/each}}
</ul>