
<h2>{{coaster.name}} - <a href="/{{park.slug}}">{{park.name}}</a></h2>

<h3>Rating: &#9733;{{coaster.rating}} ({{coaster.numReviews}} reviews)</h3>

{{#if isAuthenticated}}
    {{#if hasNotWritten}}
        <form method="POST" action="/{{coaster.slug}}/post-review">
            <h3>Write a review:</h3>

            <label for="rating">Rating</label><br>
            <select id="rating" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>
            
            <label for="body">Text</label><br>
            <textarea id="body" name="body" required></textarea><br>

            <input type="submit" value="Submit">
        </form>
    {{else}}
        <p>You have reviewed this coaster</p>
    {{/if}}
{{else}}
    <p>Log in to write a review</p>
{{/if}}

<h3>Reviews:</h3>

<ul>
    {{#each coaster.reviews}}
        <li>
            <div class="review">
                <div class="reviewHeader">
                    {{author.username}} &#9733;{{rating}} ({{postDate}} at {{postTime}})
                </div>
                {{body}}<br>
                {{#if deletable}}
                    <form method="POST" action="/{{slug}}/delete-review" class="deleteButton">
                        <input type="submit" value="Delete">
                    </form>
                {{/if}}
            </div>
        </li>
    {{else}}
        <li>No reviews to display</li>
    {{/each}}
</ul>