
<h2>{{park.name}} - {{park.location}}</h2>

<h3>Rating: &#9733;{{park.rating}}</h3>

{{#if isAdmin}}
    {{!-- <a href="/{{park.slug}}/add-coaster">Add coaster</a> --}}
    <form method="POST" action="/{{park.slug}}/add-coaster">
        <h3>Add a coaster</h3>
        <label for="name">Name</label><br>
        <input id="name" name="name" type="text" required><br>
        <input type="submit" value="Add coaster">
    </form>
{{/if}}

<ul>
    {{#each coasters}}
        <li>
            <a href="/{{../park.slug}}/{{slug}}">{{name}}</a> Rating: &#9733;{{rating}}
        </li>
    {{else}}
        <li>No coasters to display.</li>
    {{/each}}
</ul>