
<h2>Parks</h2>

{{#if isAdmin}}
    {{!-- <a href="/add-park">Add park</a> --}}
    <form method="POST" action="/add-park">
        <h3>Add a park:</h3>
        <label for="name">Name</label><br>
        <input id="name" name="name" type="text" required><br>
        <label for="location">Location</label><br>
        <input id="location" name="location" type="text" required><br>
        <input type="submit" value="Add park">
    </form>
{{/if}}

<ul>
    {{#each parks}}
        <li>
            <a href="/{{slug}}">{{name}}</a> - {{location}}<br>
            Rating: &#9733;{{rating}} ({{numReviews}} reviews)<br>
            {{#if deletable}}
                <form method="POST" action="/{{slug}}/delete-park" class="deleteButton">
                    <input type="submit" value="Delete">
                </form>
            {{/if}}
        </li>
    {{else}}
        <li>No parks to display.</li>
    {{/each}}
</ul>